<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <label style="font-size:18px;font-family:arial;">1. Click "+" to add an item.</label><br>
  <br>
  <label style="font-size:18px;font-family:arial;">2. Click the checkbox to 'delete' an item.</label>
</head>

<body>
